{% extends 'myquizapi/pager.html' %}

{% block content %}
<center>
    <!--navbar-->
	 <div class="w3-bar w3-black">
  <a href="#" class="w3-bar-item w3-button"><h3>My Quiz</h3></a>
  
  <a href="#" class="w3-bar-item w3-button"><h5>Logout</h5></a>
</div> 
</center>
<div class="w3-container w3-half">
 <h2>User Profile</h2>

  <div class="w3-card-4 w3-dark-grey" style="width:50%">

    <div class="w3-container w3-center">


      <p>Names: <strong>HIM </strong> </p>
      <p>Username: <strong>HIM</strong></p>
      <p>Email: <strong>him@him.him</strong></p>

    </div>

  </div>
</div>
  <br>


</div>

<div class="w3-container w3-half">
  <h2>Done infromation</h2>

   <table class="w3-table">
    <tr>
      <th>Quiz ID</th>
      <th>Quiz Name</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>11</td>
      <td>Math</td>
      <td><button class="w3-button w3-black">View Results</button></td>
    </tr>
    <tr>
      <td>11</td>
      <td>Math</td>
      <td><button class="w3-button w3-black">View Results</button></td>
    </tr>
    <tr>
      <td>11</td>
      <td>Math</td>
      <td><button class="w3-button w3-black">View Results</button></td>
    </tr>

  </table>
  <br>


</div>
{% endblock %}


