{% extends 'myquizapi/pager.html' %}


{% block content %}
{% csrf_token %}

<center>
	<div class="w3-third" style="margin-left: 30%;">
		<h2>System Login</h2>
                <div class="w3-card-4">
                    <form class="w3-container w3-center" action="" method="POST">

                        <label>Username</label>
                        <input class="w3-input" name="username" type="text" required>
  <p>
  <label>Password</label>
  <input class="w3-input" name="password" type="password" required></p>
  <p>
  <!--<h6>No account yet? click <a href="myquizapi/registration/register.html">Here to create one</a></h6>-->
  <button class="w3-button w3-block w3-dark-grey" value="submit">Login</button>
  <br><br>
</form>
                </div>
            </div>
</center>
	
{% endblock %}


</body>
</html> 
